.list {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: white;
  border-radius: 0.5rem;

  right: 0px;

  min-height: 525px;

  padding: 1rem;

  h2 {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.list-inside {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);

  cursor: pointer;
}

.list-i {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  justify-items: center;
  align-items: center;
  font-size: 0.9rem;
}

.price {
  color: rgb(225, 225, 225);
  font-size: 0.8rem;
  text-decoration: line-through;
}

.buy {
  padding: 0.8rem 1.1rem 0.8rem 1.1rem;
  border-radius: 0.5rem;
  background: var(--green);
}

.currentPrice {
  color: var(--red);
  font-size: 2rem;
  font-weight: bold;
}

.bottom-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding-top: 3rem;
  a {
    font-size: 1rem;
    color: var(--green);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    z-index: 22;
    &:hover {
      text-decoration: underline;
    }
  }
}

.bottom-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin-bottom: 1.5rem;
}

.circles {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.arrow {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  padding: 0.3rem;
  background: white;
}
