.catalog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background: white;
  padding: 0.5rem;
  gap: 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;

  max-height: 610px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      border-radius: 5px;
      cursor: pointer;
      padding: 0.5rem;
      &:hover {
        background: #dcdcdc;
      }
    }
  }
}
