* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #f2f2f2;
  --foreground: #171717;
  --green: #43b02a;
  --green-dark: #36921f;
  --grey: #707070;
  --red: #e92121;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

main {
  position: relative;
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding-top: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

button,
select {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
